<p class="text-center fw-bold mt-3">observable-sample works!</p>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-auto">
      <button (click)="create()" class="btn btn-primary me-2">
        Create Observable
      </button>
      <button
        type="submit"
        class="btn btn-secondary me-2"
        (click)="operatorFunc()"
      >
        Operator
      </button>
      <button (click)="fetch()" class="btn btn-success">Fetch</button>
    </div>
  </div>
</div>
